manifest {
    homePage = 'https://github.com/iarcbioinfo/gatk4-GenotypeGVCFs-nf'
    description = 'Nextflow pipeline for GATK4 GenotypeGVCFs'
    mainScript = 'gatk4-GenotypeGVCFs.nf'
}

profiles {

    local {
        process.executor = 'local'
         process.container = '/hpcshare/genomics/yabili_pipeline_vda/yabili_resources_vda/singularity/sarek_2.7.sif'
        singularity.enabled = true
        singularity.autoMounts = true
    }

    vda {
        process.executor = 'pbspro'
        process.queue = 'cpunodes'
        process.cpus = 24
        process.container = '/hpcshare/genomics/yabili_pipeline_vda/yabili_resources_vda/singularity/gatk-germline_v0.sif'
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.runOptions = '--bind /hpcshare/'
    }

}

/*
 process {
			withName: GenomicsDBImport {
			//	module = '...'
			}
      withName: GenotypeGVCFs {
			//	module = '...'
			}
      withName: HardFilter {
			//	module = '...'
			}
      withName: GatherVcfs {
			//	module = '...'
			}
      withName: SID_VariantRecalibrator {
			//	module = '...'
			}
       withName: SNV_VariantRecalibrator {
			//	module = '...'
			}
      withName: ApplyRecalibration {
			//	module = '...'
			}
        }
*/